# 7 Steps to Data Cleaning :

## Step 0 - Understand the business question/problem that you are trying to solve

In [ ]:
import pandas as pd
df=pd.pd.DataFrame(data) # Create dataframe

## Step 1 - Understanding the Data

In [ ]:
# getting some basic information on the different fields and
# the total number of records,
# inspecting the head of the dataframe.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1100 non-null   object
 1   Age                1100 non-null   int64
 2   Email              1046 non-null   object
 3   Phone              1100 non-null   object
 4   Address            1100 non-null   object
 5   Salary             1100 non-null   int64
 6   Join_Date          1100 non-null   object
 7   Employment_Status  1100 non-null   object
 8   Department         1100 non-null   object
dtypes: int64(2), object(7)
memory usage: 77.5+ KB

In [21]:
df.head()

,Name,Age,Email,Phone,Address,Salary,Join_Date,Employment_Status,Department
0,Allison Hill,19,donaldgarcia@example.net,+1-219-560-0133,"79402 Peterson Drives Apt. 511\nDavisstad, PA ...",58092,2020-05-14,Contract,Engineering
1,Kimberly Dudley,37,smiller@example.net,+1-659-931-0341x316,"55341 Amanda Gardens Apt. 764\nLake Mark, WI 0...",22665,2021-12-12,Contract,IT
2,Renee Morales,60,clarksherri@example.net,837-767-2423x88496,"710 Eric Estate\nCarlsonfurt, MS 78605",64133,2023-12-25,Part-Time,Finance
3,Tricia Valencia,50,frazierdanny@example.net,001-645-514-6270x48281,"809 Burns Creek\nNatashaport, IA 08093",129940,2022-01-18,Part-Time,Finance
4,Theresa Miller,68,wcabrera@example.net,001-822-778-2489x63834,"33150 Brianna Avenue Apt. 031\nPort Markhaven,...",44328,2024-02-17,Contract,IT

## Step 2 - Handling Duplicates

In [22]:
# Check for duplicate rows
duplicates = df.duplicated().sum()
print("Number of duplicate rows:", duplicates)

Number of duplicate rows: 100

In [23]:
# Removing duplicate rows
df.drop_duplicates(inplace=True)

## Step 3 - Handling Missing Data

In [24]:
# Check for missing values
missing_values = df.isna().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
Name                  0
Age                   0
Email                50
Phone                 0
Address               0
Salary                0
Join_Date             0
Employment_Status     0
Department            0
dtype: int64

In [25]:
# Check for missing values
missing_values = df.isna().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
Name                  0
Age                   0
Email                50
Phone                 0
Address               0
Salary                0
Join_Date             0
Employment_Status     0
Department            0
dtype: int64

## Step 4 - Transforming Data

In [26]:
# Convert 'Join_Date' to datetime
df['Join_Date'] = pd.to_datetime(df['Join_Date'])
print("Join_Date after conversion:")
print(df['Join_Date'].head())

Join_Date after conversion:
0   2020-05-14
1   2021-12-12
2   2023-12-25
3   2022-01-18
4   2024-02-17
Name: Join_Date, dtype: datetime64[ns]

In [27]:
# Creating a new column/feature 'Years_Employed' based on 'Join_Date'
df['Years_Employed'] = pd.Timestamp.now().year - df['Join_Date'].dt.year
print("New feature 'Years_Employed':")
print(df[['Join_Date', 'Years_Employed']].head())

New feature 'Years_Employed':
   Join_Date  Years_Employed
0 2020-05-14               4
1 2021-12-12               3
2 2023-12-25               1
3 2022-01-18               2
4 2024-02-17               0

## Step 5 - Cleaning Text Data

In [28]:
# Clean address strings
df['Address'] = df['Address'].str.replace('\n', ' ', regex=False)
print("Address after text cleaning:")
print(df['Address'].head())

Address after text cleaning:
0    79402 Peterson Drives Apt. 511 Davisstad, PA 3...
1    55341 Amanda Gardens Apt. 764 Lake Mark, WI 07832
2                710 Eric Estate Carlsonfurt, MS 78605
3                809 Burns Creek Natashaport, IA 08093
4    33150 Brianna Avenue Apt. 031 Port Markhaven, ...
Name: Address, dtype: object

## Step 6 - Handling Outliers

### >> For Numerical Data

In [29]:
# Detecting outliers using z-score
z_scores = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()
outliers = df[abs(z_scores) > 3]
print("Outliers based on Salary:")
print(outliers[['Name', 'Salary']].head())

Outliers based on Salary:
                  Name  Salary
17   Raymond Jefferson  251672
41       Douglas Reyes  284540
87    Jennifer Johnson  454876
149       Becky Wilson  302985
220       Patrick Hart  282744

## Step 7 - Merging Data

'''In most projects, the data that you have may not be the data you’ll want to use for analysis.
You have to find the most relevant fields to use and also merge data from other dataframes to get
more useful data that you can use for analysis.'''

'''Create another related dataframe and merge it with the existing dataframe on a common column 
such that the merge makes sense. Merging in pandas works very similarly to joins in SQL.'''

# [The Data for this Data Cleaning Process Source]

In [ ]:
!pip install Faker

In [ ]:
import pandas as pd
from faker import Faker
import random

# Initialize Faker to generate synthetic data
fake = Faker()

# Set seed for reproducibility
Faker.seed(42)

# Generate synthetic data
data = []
for _ in range(1000):
    data.append({
        'Name': fake.name(),
        'Age': random.randint(18, 70),
        'Email': fake.email(),
        'Phone': fake.phone_number(),
        'Address': fake.address(),
        'Salary': random.randint(20000, 150000),
        'Join_Date': fake.date_this_decade(),
        'Employment_Status': random.choice(['Full-Time', 'Part-Time', 'Contract']),
        'Department': random.choice(['IT', 'Engineering','Finance', 'HR', 'Marketing'])
    })

In [ ]:
# Let's tweak the records a bit!
# Introduce missing values
for i in random.sample(range(len(data)), 50):
    data[i]['Email'] = None

# Introduce duplicate records
data.extend(random.sample(data, 100))

# Introduce outliers
for i in random.sample(range(len(data)), 20):
    data[i]['Salary'] = random.randint(200000, 500000)

In [ ]:
# Create dataframe
df = pd.DataFrame(data)